<div class="gallery">
  <img 
    *ngFor="let image of images; let i = index" 
    [src]="image" 
    alt="Gallery Image" 
    (click)="openImage(i)">
</div>

<div *ngIf="selectedImage" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeImage()">×</span>
    <button class="prev" (click)="prevImage()">&#10094;</button>
    <img [src]="selectedImage" class="large-image" alt="Large Image">
    <button class="next" (click)="nextImage()">&#10095;</button>
  </div>
</div>

