<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand ms-2" href="#">GreenGarden</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/gallery">Képek</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/videos">Videók</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/contact">Elérhetőségek</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<button class="btn btn-primary">Bootstrap Gomb</button>



<app-visitor-counter></app-visitor-counter>

<router-outlet></router-outlet>  